body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

header {
    background-color: #00b0eb;
    padding: 10px 0px 0px 0px;
    color: #fff;
    border-bottom: 1px solid #666;
}

.header-content {
    width: 85%;
    margin: auto;
}

.menu-principal {
    font-size: 0.9em;
    padding: 0px 70px;
}

.menu-principal > ul {
    display: flex; 
    width: 700px;
    justify-content: space-evenly;
    list-style: none;
    margin: 10px;
}

header a {
    text-decoration: none;
    color: #fff;
}

.login-links a {
    font-weight: bold;
}

.container {
    margin: 0;
}

#categorias #categorias-content {
    position: absolute;
    display: none;
    background-color: #555;
    z-index: 1;
    min-width: 150px;
    border-radius: 5px;
}

#categorias:hover #categorias-content {
    display: block;
}

#categorias-content ul {
    list-style: none;
    padding: 0;
}

#categorias-content li {
    padding: 7px 13px;
}

.menu-principal > ul > li:hover {
    color: #bbb;
}

form.busca {
    display: flex;
    justify-content: center;
}

form.busca input[name="busca"], form.busca button  {
    border: none;
    border-radius: 0;
    background-color: white;
    height: 32px;
    padding: 4px;
}

input[name="busca"] {
    width: 70%;
    font-size: 1em;
}

input[name="busca"]::placeholder {
    color: #666;
}

#header-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-search {
    flex-grow: 1;
}

.slideshow-container {
    display: none;
}

.header-top-item {
    margin: 0 20px;
}

.menu-principal ul {
    width: auto;
}

button {
    cursor: pointer;
}

.login-links {
    display: flex;
    align-items: center;
}

.login-links p {
    margin: 0px 5px;
    font-size: 0.9em;
}